body{
    margin: 0;
    padding-bottom: 2%;
}

#btn-menu{
    display: none;
}
header{
    width: 100%;
    background:rgb(8, 144, 235);
}
.titulo{
    position: absolute;
    left: 0%;
    right: auto;
    padding-left: 10px;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
header label{
    margin-left: auto;
    margin-right: 0%;
    display: none;
    width: 48px;
    height: 48px;
    padding: 5px;
    color: white;
}
header label:hover{
    background: rgb(4, 101, 165);
}
header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-responsive{
    position: fixed;
    background: rgb(8, 144, 235);
    width: 100%;
    min-height: 56px;
    max-height: 70px;
    z-index: 100;
    top: 0;
}
.menu-responsive ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}
.menu-responsive li a{
    display: block;
    padding: 14px 15px;
    color: rgb(255,255,255);
    text-decoration: none;
    margin-top: 3px;
    cursor: pointer;
    /*hacer texto no seleccionable */
    transition-property: background-color, border-radius;
    transition-duration: 1s;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.menu-responsive ul ul{
    position: absolute;
    margin: 0;
    opacity: 0;
    border-top: solid 3px cyan;
    flex-direction: column;
    visibility: hidden;
    z-index: 30;
    transition-property: all;
    transition-duration: 1s;
    
}
   .menu-responsive ul ul li{
        position: relative;
        margin: 0;
        background:  #161D6F;
        z-index: 30;
        width: 200px;
    }
    #login, #logout{
        
        margin-right: 0;
        margin-left: auto;
    }
    .menu-responsive ul li:hover > ul{
        top: 55px;
        opacity: 1;
        visibility: visible;
    }
    .menu-responsive ul li a:hover{
        background-color: #161D6F;
        border-radius: 5px;
        color: cyan;
    }
    .menu-responsive ul ul li a:hover{
        border-bottom: none;
        border-radius: 0px;
        border-left: solid 4px cyan;
    }
#btn-menu:checked ~ .menu-responsive{
    margin-left: 0;
 }

@media all and (max-width:700px){
    header label{
        display: block;
        z-index: 20;
    }
    .menu-responsive{
        position: absolute;
        width: 75%;
        height: calc(100vh - 48px);
        max-height: 100%;
        top: 48px;
        margin-left: -75%;
        transition: all 0.5s;
        z-index: 50;
    }
    .menu-responsive ul{
        flex-direction: column;
    }
    .menu-responsive ul ul{
        border: none;
        position: static;
        display: none;
        padding-left: 30px;
        opacity: 1;
        visibility: visible;
        height: auto;
    }
    .menu-responsive ul ul li{
        width: 100%;
    }
    #login{
        width: 100%;
        margin-right: auto;
    }
    .menu-responsive ul li a:hover{
        border-radius: 0px;
    }
    .menu-responsive li a{
        margin-top: 0;
    }
    .menu-responsive ul ul li a:hover{
        border-left: solid 3px cyan;
    }
    #nosotros:hover #sub-menu1{
        display: block;
     }
     #padres:hover #sub-menu2{
         display: block;
      }
      #comunicado:hover #sub-menu3{
         display: block;
      }
      #usuario:hover #sub-menu4{
         display: block;
      }
      #login, #logout{
        margin-right: 0;
        margin-left: 0;
    }
}
