<body>
    <h4 class="titulo">Detalle de Comunicado</h4>
    <div class="container" id="detalle">
        <div class="form-row" id="cont1">
            <div class="form-group">
                <b>Tipo de Comunicado:</b>
                <input type="text" id="campo" disabled value="{{detalle.tipo}}"/>
            </div>
        </div>
        <div class="form-row" id="cont2">
            <div class="form-group">
                <b>Redactado por:</b>
                <input type="text" id="campo" disabled value="{{detalle.redactor}}"/>
            </div>
                <div class="form-group" id="campo2">
                    <b>Verifiacdo por:</b>
                    <input type="text" id="campo" disabled value="{{detalle.verificador}}"/>
                </div>
            </div>
        <div class="form-row" id="cont3">
            <div class="form-group">
                <b>Origen:</b>
                <input type="text" id="campo" disabled value="{{detalle.origen}}"/>
            </div>
                <div class="form-group" id="campo2">
                    <b>Destinatario:</b>
                    <input type="text" id="campo" disabled value="1-A, Secundaria"/>
                </div>
            </div>
        <div class="form-colum" id="cont4">
            <div class="form-group">
                <b>Fecha del Evento:</b>
                <input type="date" id="campof" disabled value="{{detalle.fecha_Evento}}"/>
            </div>
                <div class="form-group" id="campo2">
                    <b>Hora:</b>
                    <input type="time" id="campoh" disabled value="{{detalle.hora_Evento}}"/>
                </div>
            </div>
        <div class="form-row" id="cont5">
                <b>Descripción:</b>
                <p class="texto">{{detalle.detalle}}</p>
        </div>
    </div>
</body>
