
<div class="container">
    <label class="titulo">LISTA DE COMUNICADOS PENDIENTES</label>

    <table class="table table-responsive  table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Emisor</th>
                <th>Destinatario</th>
                <th>Tipo de comunicado</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>17/07/2020</td>
                <td>Finanza</td>
                <td>1-B, Mañana</td>
                <td>Invitacion</td>
                <td class="botones">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success" onclick="location.href ='detalles'">Detalles</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-danger" onchange="Eliminar(this.value)">Eliminar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>17/07/2020</td>
                <td>Direccion</td>
                <td>2-A tarde</td>
                <td>Circular</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success" onclick="location.href ='detalles'">Detalles</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-danger" onclick="">Eliminar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>17/07/2020</td>
                <td>Docente</td>
                <td>3-A tarde</td>
                <td>Circular</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success" onclick="location.href ='detalles'">Detalles</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-danger"  onclick="">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
