
<div class="container">
    <h4 class="titulo">Lista de Comunicados Pendientes</h4>

    <table class="table table-responsive  table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destinatario</th>
                <th>Tipo de comunicado</th>
                <th>Redacción</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of comunicado | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{item.id}}</td>
                <td>{{item.fPublicacion}}</td>
                <td>{{item.origen}}</td>
                <td>Varios</td>
                <td>{{item.tipo}}</td>
                <td>{{item.redactor}}</td>
                <td class="botones">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success"  (click)="detalle(item)">Detalles</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-danger" onchange="Eliminar(this.value)">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
