<body>
<div class="container">
    <h4 class="titulo">Reservar Entrevista</h4>
    <form class="formulario">
        <div class="form-group">
            <h6>Alumno:</h6>
            <select name="hijos" class="form-control" (change)="getClave($event)">
                <option selected style="display: none"> Seleccione</option>
                <option *ngFor="let son of hijos" value="{{son.id}}">{{son.nombre}} {{son.paterno}} {{son.materno}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="clave !=null">
            <h6 >Seleccione con quien desea su entrevista</h6>
            <select class="form-control" id="area" (change)="ListarMateria($event)">
                <option  selected style="display: none"> Seleccione</option>
                <option value="{{clave}}">DOCENTE</option>
                <option value="1">DIRECCION</option>
                <option value="1">DEP. FINANZA</option>
                <option value="1">DEP. CONSEJERIA</option>
            </select>
        </div>
        <div class="form-group" id="materia" *ngIf="materia !=null">
            <h6>Docente:</h6>
            <select class="form-control" id="horario" (change)="ListarDias($event)">
                <option selected style="display: none"> Seleccione</option>
                <option *ngFor="let mate of materia" value="{{mate.id}}">{{mate.materia}} - {{mate.docente}}</option>
            </select>
        </div>
        <div class="form-group" id="horario1" *ngIf="dia !=null">
            <h6>Horarios Disponibles:</h6>
            <select class="form-control" id="h1">
                <option selected style="display: none"> Seleccione</option>
                <option *ngFor="let day of dia" value="{{day.id}}">{{day.dia}} - {{day.hora}}</option>
            </select>
        </div>
        <div class="form-group">
            <h6>Motivo</h6>
            <textarea class="form-control" rows="3" id="tarea"></textarea>
        </div>
        <div class="form-group">
            <div class="btn-contenedor">
                <button type="button" class="btn btn-success" id="Reservar">Reservar</button>
            </div>
        </div>
    </form>
    <p class="text-info">
</div>
</body>