body{
    margin-top: 4%;
    min-height: calc(100vh - 152px);
}
.container{
    padding: 20px;
}
.titulo{
    text-align: center;
}
@media all and (max-width:700px){
    body{
        margin-top: 0;
    }
    #Reservar{
        width: 100%;
    }
}