body{
    margin-top: 29px;
    min-height: calc(100vh - 151px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.formulario{
    margin: auto;
    background: rgb(14, 23, 102);
    transition: .5s ease; 
    border-radius: 5px;
    border:solid black;
    width: 70%;
    max-width: 400px;
    min-height: 50%;
}
#titulo{
    text-align: center;
    font-family: georgia;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: calc(0.7em + 1vw);
}
#img-usuario, #img-contraseña, #img-email, #img-tipo{
    width: 45px;
    height: 35px;
    padding-left: 2%;
    position: relative;
}
.datos {
    background-color: rgba(0,0,0,0);;
    color: white;
    width:84%;
    height: 45px;
    font-style:oblique;
    text-align: start;
    padding-right: 2%;
    margin: 0;
    border-style: none;
    border-bottom: solid black;
    outline: none;
}
::-webkit-input-placeholder{
    color: white;
    text-align: right;
}
input#cont:hover{
    background-color:rgba(0,4,6,0.5);
    border-right:solid deepskyblue 5px;
}

.btn-guardar {
    background-color: #129fe1;
    width: 90%;
    border-radius: 1px;
    border-color: black;
    margin-left: 5%;
    font-size: 20px;
    font-style: italic;
    color: white;
}
.btn-guardar:hover{
    background-color: deepskyblue;
    color:white;
}

.formulario:hover{
box-shadow: 0px 0px 40px 10px rgb(255, 255, 255);
}
.alert{
text-align: center;
color: rgb(247, 35, 35);
}

select#tipo{
    background-color:  rgba(0,0,0,0);
    color: white;
    width:84%;
    height: 45px;
    border-radius: 10px;
    border-style: none;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom:solid black;
    border-left: solid black;
    border-bottom-width: thick;
    border-left-width: thick;
    font-size: 17px;
    font-style: oblique;
    outline: none;
}
select option{
   color: black;
   background: white;
}
select option:hover{
    color: black;
    background: white;
 }
select#tipo:hover{
    background-color:rgba(0,4,6,0.5);
}
.entrevista{
    margin: 10px 18px;
    color: #fff;
    display: flex;
}
#contenedor-boton{
    margin: 10px 18px;
    display: flex;
    text-align: right;
}
#contenedor-boton button{
    border-radius: 10px;
}
input[type=checkbox] {
	visibility: hidden;
}
.checkbox-JASoft {
    margin-left: auto;
    margin-right: 0%;
    display: inline-block;
	position: relative;
    width: 70px;
	height: 30px;
	background: rgb(12, 219, 81);
	border-radius: 15px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.6), 0px 1px 0px rgba(255,255,255,0.3);  
}
.checkbox-JASoft label {
    /* aspecto */
    display: block;
    width: 34px;
	height: 20px;
	border-radius: 17px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	background: #fcfff4;
	background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    cursor: pointer;
    
    /* Posicionamiento */
    position: absolute;
    top: 5px;
	left: 5px;
    z-index: 1;
    
	/* Comportamiento */
    transition: all .4s ease;
    
    /* ocultar el posible texto que tenga */
    overflow: hidden;
    text-indent: 35px;  
    transition: text-indent 0s;
}
.checkbox-JASoft input[type=checkbox]:checked + label {
	left: auto;
    right: 5px;
}
.checkbox-JASoft:after {
	content: 'NO';
	font: 12px/30px Arial, sans-serif;
	color: rgb(255, 255, 255);
	position: absolute;
	right: 10px;
    z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.20);
}
.checkbox-JASoft:before {
	content: 'SÍ';
	font: 12px/30px Arial, sans-serif;
	color: rgb(255, 255, 255);
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}
.contededordias{
    /* transform: translate(-50%); */
    display: flow-root;
}

@media only screen and (max-width:700px){

    body{
        margin-top: 0;
        align-items:flex-start;
    }
    .formulario{
        margin: 0 0 0 2%;
        width: 96%;
    }
    #img-usuario, #img-contraseña, #img-email, #img-tipo{
        width: 35px;
        height: 26px;
        padding-left: 3%;
    }
    select#tipo{
        width:82%;
        height: 45px;
    }
    #cont {
        background-color: rgba(0,0,0,0);;
        color: white;
        width:82%;
        padding-right: 4%;
    }
}