<body>
  <div class="container">
    <form action="" method="POST" class="formulario">
      <h3 id="titulo">INICIAR SESION</h3>
        <div class="form-group">
          <img src="../../../../assets/Imagenes/correo.png" width="50px" height="35px" id="img-usuario"/>
          <input type="email" name="usuario" id="cont" placeholder="Usuario">
        </div>
        <div class="form-group">
          <img src="../../../../assets/Imagenes/llave.png" width="50px" height="35px" id="img-contraseña"/>   
            <input type="password" name="clave" id="cont" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn" name="ingresar">Ingresar</button>
        <p class="alert"></p>
    </form>
  </div>
</body>