body{
    margin-top: 29px;
    min-height: calc(100vh - 154px);
}
.container{
    min-width: 100%;
    padding : 40px;
    display:flex;
}
.item{
    min-width: 30%;
    padding-right: 40px;
}
.logo img{
    width:100%;
}
.tab-content{
    text-align : justify;
    margin: 2%;
}

@media only screen and (max-width:700px){

    body{
        margin-top: 0;
    }
    .container{
        flex-direction: column;
        margin-top: 0;
        padding :0 20px 20px 20px;
    }
    .item{
        width: 100%;
        display:flex;
        padding-right: 0;
        justify-content: center;
    }
    .list-group{
        min-width: 47%;
        background: red;
    }
    .logo{
        position: relative;
        margin-top: 15px;
        right: -10px;
    }
    .tab-content{
        margin: 2% 0 0 0;
    }
}