body{
    margin-top: 29px;
    min-height: calc(100vh - 151px);
    display:flex;
}
.container{
    min-width: 100% !important;
   min-height: 100% !important;
    padding : 0;
    margin: 0;
    display:flex;
}
.item{
    min-width: 30%;
    padding: 3%;
}
.logo img{
    width:100%;
    height: 100%;
}
.tab-content{
    text-align : justify;
    margin: 5%;
}

@media only screen and (max-width:700px){

    body{
        margin-top: 0;
    }
    .container{
        flex-direction: column;
        margin-top: 0;
        padding :0 20px 20px 20px;
    }
    .item{
        width: 100%;
        display:flex;
        padding-right: 0;
        justify-content: center;
    }
    .list-group{
        min-width: 47%;
    }
    .logo{
        position: relative;
        margin-top: 15px;
        right: -10px;
    }
    .tab-content{
        margin: 2% 0 0 0;
    }
}