<body>
  <div class="container">
    <div class="item">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-mision-list" data-toggle="list" href="#list-mision" role="tab" aria-controls="mision">MISION</a>
        <a class="list-group-item list-group-item-action" id="list-vision-list" data-toggle="list" href="#list-vision" role="tab" aria-controls="vision">VISION</a>
        <a class="list-group-item list-group-item-action" id="list-objetivos-list" data-toggle="list" href="#list-objetivos" role="tab" aria-controls="objetivos">OBJETIVOS</a>
      </div>
      <div class="logo">
        <img src="https://static.wixstatic.com/media/9c808c_1a66967b033147dfb0f29b4c48b0c980~mv2.png/v1/fill/w_440,h_280,al_c,q_85,usm_0.66_1.00_0.01/mision-vision.webp">
      </div>
    </div>
      <div class="descripcion">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="list-mision" role="tabpanel" aria-labelledby="list-mision-list">“El CBDS Institución Educativa confiable, con un sistema de doble escolaridad bajo estándares de calidad internacional, formando integralmente a los estudiantes con una base sólida para la educación superior, llevado a cabo por talento humano comprometido con nuestro modelo educativo”</div>
          <div class="tab-pane fade" id="list-vision" role="tabpanel" aria-labelledby="list-vision-list">“Ser reconocidos a nivel nacional como una institución educativa bilingüe, con estándares internacionales de calidad en la formación integral de estudiantes para una educación superior”.</div>
          <div class="tab-pane fade" id="list-objetivos" role="tabpanel" aria-labelledby="list-objetivos-list">
          <p>
            *  Formar la personalidad y la capacidad de asumir con responsabilidad y autonomía sus derechos y deberes.
          </p> 
          <p>
            *  Proporcionar una sólida formación ética, moral, y fomentar la práctica del respeto a los derechos humanos.
          </p>
          <p>
            *  Fomentar en la institución educativa, prácticas democráticas para el aprendizaje de los principios, valores de la participación y organización ciudadana, estimular la autonomía y la responsabilidad social.
          </p>
          <p>
            *   Desarrollar una sana sexualidad que promueva el conocimiento de sí mismo y la autoestima, la construcción de la identidad sexual dentro del respeto por la equidad de los sexos, la afectividad, el respeto mutuo y prepararse para una vida familiar armónica y responsable.
          </p>
          <p>
            *  Crear y fomentar una conciencia de solidaridad internacional
          </p>
          <p>
            *  Fundamentar cimientos en los futuros universitarios y/o profesionales, capaces de ejercer a cabalidad dentro y fuera del país.
          </p>
          <p>
            *  Desarrollar acciones de orientación escolar, profesional y ocupacional.
          </p>
          <p>
            *  Formar una conciencia educativa para el esfuerzo y el trabajo
          </p>
          <p>
           * Fomentar el interés y el respeto por la identidad cultural de los grupos étnicos.
          </p>
          * Incrementar las nuevas tecnologías como recursos de apoyo para el aprendizaje de nuestros estudiantes desde nivel inicial hasta finalización del bachillerato.
        </div>
      </div>
    </div>
  </div>
</body>