<body>
    <div class="card mb-3">
        <img src="https://1.bp.blogspot.com/-VGah7InqCLU/VlcRT4uGvtI/AAAAAAAAAY4/4HwWmnpIivk/s1600/IMG-20151125-WA0030.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">PROMO 2019</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    
    <div class="card mb-3">
        <img src="https://c1.staticflickr.com/8/7608/16387484843_cddbc2048a_c.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">NUESTAS ACTIVIDADES</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    
    <div class="card mb-3">
        <img src="https://4.bp.blogspot.com/-HL4yksjn78E/U3pxJJNMjVI/AAAAAAAAAPY/fCX7qqrf9Ks/s1600/140514+ced+SC.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <nav class="navegacion" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </nav>    
</body>

