body{
    margin-top: 29px;
    min-height: calc(100vh - 151px);
}
.titulo{
    width: 100%;
    padding-top:2%;
    text-align: center;
    font-style:italic;
}
.rangos{
    flex-direction: row;
    display: flex;
    position: relative;
}
.rangos input{
    max-width: 150px;
}
label{
margin: 6px 0 5px 5px;
}
#contenedor1{
    margin: auto;
    width: 90%;
    justify-content: center;
}
.buscador{
   margin-bottom: 10px;
}
.table{
    width: 90%;
    margin: 0 0 0 15%;
    border-style: none;
}

thead {
     background-color:deepskyblue;
}
pagination-controls{
    text-align: center;
  }
@media only screen and (max-width:700px){
    body{
        margin-top: 0px;
    }
    *{
        font-size:  calc(0.5em + 1vw);
        line-height: 1em;
    }
    #contenedor1{
        flex-direction: column;
        margin: auto;
    }
    .buscador{
        width: 100%;
        margin-left: 0;
       }
 
    .table{
        width: 90%;
        margin: auto;
    }
    
}