<body>
    <div class="row">
        <div class="col mb-4">
            <div class="card">
                <img src="https://i0.pngocean.com/files/688/151/727/computer-icons-teacher-icon-design-education-applause.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text">Materia</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://i0.pngocean.com/files/688/151/727/computer-icons-teacher-icon-design-education-applause.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text">Materia</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://i0.pngocean.com/files/688/151/727/computer-icons-teacher-icon-design-education-applause.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text">Materia</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://i0.pngocean.com/files/688/151/727/computer-icons-teacher-icon-design-education-applause.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text">Materia</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://i0.pngocean.com/files/688/151/727/computer-icons-teacher-icon-design-education-applause.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text">Materia</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://i0.pngocean.com/files/688/151/727/computer-icons-teacher-icon-design-education-applause.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <p class="card-text">Materia</p>
                </div>
            </div>
        </div>  
    </div>   
</body>