body{
    margin-top: 29px;
    padding: 0;
    min-height: calc(100vh - 151px);
}
.container{
    margin-left: 1.5rem;
}
#agregar{
    width: 150px;
    color: white;
    margin-top: 2%;
}
#edit{
    color: white;
}
.container-card{
    width: 100%;
    padding: 10px;
    margin: 0 auto auto auto;
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    position: relative;
}
.card{
    background: rgba(57, 205, 241, 0.712);
    min-width: 210px;
    max-width: 210px;
    padding-top: 10%;
    margin-top: 10px;
    align-items: center;
}
h5{
    font-size:  calc(0.7em + 1vw);
}
.card-img{
    width: 80%;
    border-radius: 50%;
}

.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  .form-control {
    padding-left: 35px!important;
  }
@media all and (max-width:700px){
    body{
        margin-top: 0;
    }
    .container{
        top: 0;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .row{
        margin-top: 0;
        padding: 0;
    }
    .card{
        min-width: 150px;
        margin: 15px auto auto auto;
    }
}