<html>

<body>
    <h4 class="titulo">Nuevo Comunicado</h4>
    <form class="container" id="formulario" [formGroup]="comunForm" (ngSubmit)=" postdata(comunForm)">
        <div class="form-row" id="cont1">
            <label>Tipo Comunicado:</label>
            <select class="campos form-control" id="tipo" formControlName="tipo" onchange="mostrartc(this.value)">
                <option selected style="display: none">Seleccione </option>
                <option value="4">CITACION</option>
                <option value="1">CIRCULAR</option>
                <option value="2">CONVOCATORIA</option>
                <option value="3">INVITACION</option>
            </select>
        </div>

        <div class="form-row" id="cont2" style="display: none">
            <label>Emitido por: </label>
            <select class="campos form-control" id="origen" formControlName="origen" onchange="mostrar2(this.value);">
                <option selected style="display: none">Seleccione </option>
                <option value="La Dirección">La Dirección</option>
                <option value="Dep. de Finanzas">Dep. de Finanzas</option>
                <option value="Dep. de Consejería">Dep. de Consejería</option>
                <option value="Docente" disabled>Docente</option>
            </select>
        </div>

        <div class="form-row" id="comunicado2" style="display: none;">
            <p>A continuación seleccione el destinatario:</p>
            <div class="campo-nivel">
                <label>Nivel:</label>
                <div class="multiselect">
                    <ng-multiselect-dropdown [placeholder]="'Seleccione'" [settings]="cursoSettings" [data]="niveles"
                        (onSelect)="NivelSelect($event)" (onDeSelect)="NivelDeSelect($event)"
                        (onSelectAll)="onNivelAll($event)" (onDeSelectAll)="ofNivelAll()">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="campo-curso">
                <label>Curso:</label>
                <div class="multiselect">
                    <ng-multiselect-dropdown [placeholder]="'Seleccione'" [settings]="cursoSettings" [data]="cursos" [disabled]="disabled"
                        (onSelect)="CursoSelect($event)" (onDeSelect)="CursoDeSelect($event)"
                        (onSelectAll)="onCursoAll($event)" (onDeSelectAll)="ofCursoAll()">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="campo-turno">
                <label>Turno:</label>
                <div class="multiselect">
                    <ng-multiselect-dropdown [placeholder]="'Seleccione'" [settings]="cursoSettings" [data]="turnos"
                        (onSelect)="TurnoSelect($event)" (onDeSelect)="TurnoDeSelect($event)"
                        (onSelectAll)="onTurnoAll($event)" (onDeSelectAll)="ofTurnoAll()">
                    </ng-multiselect-dropdown>
                </div>
            </div>
        </div>
            <div class="form-row" id="citacion2" style="display: none;">
                <p>La citación se enviará al tutor del alumno...</p>
                <div class="filter">
                    <select class="campos col-md-2 form-control" name="nivel" (change)="onSelectNivel($event)">
                        <option selected style="display: none">Nivel </option>
                        <option value="1">INICIAL</option>
                        <option value="2">PRIMARIA</option>
                        <option value="3">SECUNDARIA</option>
                    </select>

                    <select class="campos col-md-2 form-control" name="curso" (change)="onSelectCurso($event)">
                        <option selected style="display: none">Curso </option>
                        <option value="7">KINDER</option>
                        <option value="8">PRE-KINDER</option>
                        <option value="1">1-PRIMERO</option>
                        <option value="2">2-SEGUNDO</option>
                        <option value="3">3-TERCERO</option>
                        <option value="4">4-CUARTO</option>
                        <option value="5">5-QUINTO</option>
                        <option value="6">6-SEXTO</option>
                    </select>
                    <select class="campos col-md-2 form-control" name="turno" id="" (change)="onSelectTurno($event)">
                        <option selected style="display: none">Turno </option>
                        <option value="1">MAÑANA</option>
                        <option value="2">TARDE</option>
                    </select>
                    <div class="ngx">
                        <ng-multiselect-dropdown [placeholder]="'Alumno'" [settings]="dropdownSettings"
                            [data]="filtroAlumno" (onSelect)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
            <div class="form-row" id="cont3" style="display:none">
                <div class="campo-fecha row g-2">
                    <label>Fecha: </label>
                    <input class="form-control" id="date" type="date" name="fechae" formControlName="fechae" />
                </div>
                <div class="campo-hora row g-2">
                    <label>Hora: </label>
                    <input class="form-control" id="time" type="time" name="horae" formControlName="horae" />
                </div>
            </div>
            <div id="cont4" style="display:none">
                <label>Descripción</label>
                <textarea id="campoDescripcion" name="descripcion" formControlName="descripcion"></textarea>
            </div>
            <div class="btn-contenedor" id="boton" style="display:none">
                <button type="submit" class="mouse-cursor-gradient-tracking" id="btnEnviar">Enviar</button>
            </div>
    </form>
</body>