<body>
    <div class="card">
        <div class="card-header">
            Citacion
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    Juzgado civil del estado de México.
                    Investigación 77/895/2013 -5
                    Juicio testamentario 1123/2013-5
    
                    El Juez 5º de lo Civil en el estado de México, solicita la presencia en las instalaciones de este juzgado del Sr. Vicente Alcocer Sallas, para que rinda testimonio en el juicio sucesorio en calidad de apoderado de las propiedades del Sr. Osvaldo contreras Vilchis.
    
                    Apreciable Sr Vicente Alcocer Sallas, se le requiere para que en fecha 09 de Mayo próximo se apersone en las instalaciones de este H Juzgado, con la relación de las propiedades agrícolas del finado Osvaldo Contreras Vilchis.
    
                    Esto con la finalidad de tener la contabilidad de todos los bienes antes de la realización de las diligencias previas a la resolución definitiva.
    
                    Así lo firma y da fe el Juez. Lic. Olegario Orleans Bravo acompañado del secretario de cuenta Lic. Gustavo Padilla Elizalde.
                </p>
                <footer class="blockquote-footer text-right">Arentamende la direccion <cite title="Source Title">Cardenal Cushing</cite></footer>
                <a href="#" class="btn btn-primary">Descargar</a>
            </blockquote>
        </div>
    </div>    
</body>