<body>
    <!-- <div class="card" *ngFor="let citacion of citaciones">
        <div class="card-header">
            Citacion {{citacion.fecha}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                 {{citacion.motivo}}
                </p>
                <footer class="blockquote-footer text-right">Atte. la direccion <cite title="Source Title">Cardenal Cushing</cite></footer>
                <button class="btn btn-success" value="{{citacion.id}}" data-toggle="modal" data-target="#modal1">Ver</button>
            </blockquote>
        </div>
    </div>   -->

    <div class="accordion" id="accordion">
        <div class="card" *ngFor="let citacion of citaciones; index as i">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button id="miBoton" class="btn btn-link btn-block text-left" type="button"
              data-toggle="collapse" 
              data-target="#collapseOne" 
              aria-expanded="false" 
              aria-controls="collapseOne"
              value="{{citacion.id}}" 
              (click)="verCitacion($event)">
                Citacion de {{citacion.fecha}}
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
             {{citacion.motivo}}
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
<!-- 
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div> -->
</body>