<body>
  <table class="table table-responsive table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Rol</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha Creacion</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <th scope="row">{{user.id_usuario}}</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.PASSWORD}}</td>
        <td>{{user.rol}}</td>
        <td>{{user.estado}}</td>
        <td>{{user.fecha_creacion}}</td>
        <td class="botones">
          <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Detalles</button>
          </div>
          <div class="btn-group">
              <button type="button" class="btn btn-outline-danger">Eliminar</button>
          </div>
      </td>
      </tr>
    </tbody>
  </table>
</body>